
<section class="service-section py-5 p-5 align-content-center" style="height: 500px;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="service-icon">
                    <img src="assets/images/Services.png" />
                </div>
                <h5 class="mt-3">FREE AND FAST DELIVERY</h5>
                <p>Free delivery for all orders over $140</p>
            </div>
            <div class="col-md-4">
                <div class="service-icon">
                    <img src="assets/images/Get-Help.png" />
                </div>
                <h5 class="mt-3">24/7 CUSTOMER SERVICE</h5>
                <p>Friendly 24/7 customer support</p>
            </div>
            <div class="col-md-4">
                <div class="service-icon">
                    <img src="assets/images/Private.png" />
                </div>
                <h5 class="mt-3">MONEY BACK GUARANTEE</h5>
                <p>We return money within 30 days</p>
            </div>
        </div>
    </div>
</section>