<div class="p-xl-5">
  <div class="line mt-5 mb-5"></div>
  <div class="container py-5">
    <div class="row">
      <!-- Left Card -->
      <div class="col-md-6 mb-4">
        <div class="card card-left h-100">
          <img
            src="assets/images/Rectangle 16.png"
            class="card-img"
            alt="Famous Muiches"
          />
          <div class="card-overlay">
            <h3 class="card-title">FAMOUS MUICHES</h3>
            <a href="#" class="btn btn-custom">SHOP NOW</a>
          </div>
        </div>
      </div>

      <!-- Right Card -->
      <div class="col-md-6 mb-4">
        <div class="card card-right h-100">
          <img
            src="assets/images/Rectangle 17.png"
            class="card-img"
            alt="Special Collection"
          />
          <div class="card-overlay">
            <h3 class="card-title">SPECIAL COLLECTION</h3>
            <a href="#" class="btn btn-custom">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
