<div class="text-center justify-items-center">

    <!-- Row 1 -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <img src="assets/images/KIDS.png" class="card-img img-fluid" alt="Kids">
          <button class="btn overlay">KIDS</button>
        </div>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row mt-2">
      <div class="col-md-8">
        <div class="card">
          <img src="assets/images/WOMEN.png" class="card-img img-medium" alt="Women">
          <div ><p class="btn overlay">WOMEN</p></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <img src="assets/images/SNEAKERS.png" class="card-img img-medium" alt="Sneakers">
              <div class="btn overlay">SNEAKERS</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 3 -->
    <div class="row mt-2">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/BOOTS.png" class="card-img img-medium" alt="Boots">
          <div class="btn overlay">BOOTS</div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <img src="assets/images/MEN.png" class="card-img img-medium" alt="Men">
          <div class="btn overlay">MEN</div>
        </div>
      </div>
    </div>

  </div>
